#output-section {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-center;
  gap: 15px;
  max-width: 100%;
}

.character-wrapper {
  width: 200px;
  padding: 5px;
  border: 1px solid $secondary-color2;
  border-radius: $border-radius-medium;
}
