$main-color1: rgb(22, 22, 22);
$main-color2: rgb(48, 48, 48);
$secondary-color1: rgb(255, 238, 55);
$secondary-color2: rgb(85, 85, 85);

$text-color: rgb(204, 204, 204);

$border-radius-small: 4px;
$border-radius-medium: 10px;
$border-radius-large: 20px;
